<% if user_signed_in? %>
	<center> <div style="background: pink"><img src="https://s3.amazonaws.com/onemonthrailssavedbythe90s/IMG_0271.JPG" alt="Saved by the 90s" style /> </div> </center>
<% else %>
	<div class="hero-unit", style="background: purple">
	<h1>Welcome to Saved by the 90s</h1>
	<p>
		You've found the home page for the
		<%= link_to "Saved by the 90s", "http://glacial-brushlands-5565.herokuapp.com" %>
		application.
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
	</div>
<% end %>
