<% if user_signed_in? %>
	<center> <div style="background: pink; border-width: 4px; border-style: outset; border-color: lightblue;" ><img src="https://s3.amazonaws.com/onemonthrailssavedbythe90s/IMG_0271.JPG" alt="Saved by the 90s" /></div></center>
<% else %>
	<div class="hero-unit", style="background: purple">
	<h1>Welcome to </h1>
	<leftcenter><img src="https://s3.amazonaws.com/onemonthrailssavedbythe90s/IMG_0271.JPG" alt="Saved by the 90s" /></leftcenter>
	<p>
		You've found the home page for the
		<%= link_to "Saved by the 90s", about_path %>
		application.
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
	</div>
<% end %>
